<div class="row">
    <nav class="navbar navbar-default navbar-fixed-top navbar-shrink" role="navigation">
        <div class="container">
            <ul class="nav navbar-nav navbar-collapse">
                <li ui-sref-active="active"><a ui-sref="app.static.home"><span class="glyphicon glyphicon-home"></span> Domů</a></li>
                <li ui-sref-active="active"><a ui-sref="app.static.guests"><span class="glyphicon glyphicon-user"></span> Hosté</a></li>
                <li ui-sref-active="active"><a ui-sref="app.static.rooms"><span class="fa fa-bed"></span> Pokoje</a></li>
                <li ui-sref-active="active"><a ui-sref="app.static.reservations"><span class="glyphicon glyphicon-book"></span> Rezervace</a></li>
                <li ui-sref-active="active"><a ui-sref="app.static.accommodation"><span class="fa fa-briefcase"></span> Ubytování</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active"><a ui-sref="app.static.codetables"><span class="glyphicon glyphicon-list-alt"></span> Číselníky</a></li>
            </ul>
        </div>
    </nav>
</div>
<header></header>

<a ng-click="backInHistory()" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-chevron-left"></span> Návrat předchozí stránku</a>

<div role="alert" class="alert alert-{{ flash.getMessage().type }}" ng-if="showFlashAlert && flash.getMessage()">
    <button type="button" class="close" ng-click="closeAlert()" title="Klikněte pro zavření"><span>&times;</span></button>
    {{ flash.getMessage().message }}
</div>

<div class="main-content" ui-view></div>