﻿<div class="row">
    <div class="col-xs-12">
        <h1>Host</h1>
    </div>
</div>

<form name="guestForm" ng-submit="submitForm()" novalidate>
    <div class="row">
        <div class="col-xs-12">
            <div ng-messages="guestForm.$error" ng-show="guestForm.$submitted" class="validation-messages">
                <h5 ng-message="required">Nejsou vyplněna všechna povinná pole!</h5>
                <div ng-messages="guestForm.guestDoubleBedsCount.$error" ng-show="guestForm.$dirty || guestForm.$submitted" class="validation-messages">
                    <h5 ng-message="min">Počet dvoulůžek nesmí být záporné číslo!</h5>
                </div>
                <div ng-messages="guestForm.guestSingleBedsCount.$error" ng-show="guestForm.$dirty || guestForm.$submitted" class="validation-messages">
                    <h5 ng-message="min">Počet jednolůžek nesmí být záporné číslo!</h5>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" ng-model="guest.id">
    <div class="row">
        <div class="col-xs-3"><strong>* Jméno:</strong><small> (max. 50 znaků)</small></div>
        <div class="col-xs-5">
            <input id="guestFirstName" type="text" ng-model="guest.firstName" name="guestFirstName" class="form-control" maxlength="50" required>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3"><strong>* Příjmení:</strong><small> (max. 50 znaků)</small></div>
        <div class="col-xs-5">
            <input id="guestLastName" type="text" ng-model="guest.lastName" name="guestLastName" class="form-control" maxlength="50" required>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3"><strong>* Adresa:</strong><small> (max. 255 znaků)</small></div>
        <div class="col-xs-5">
            <textarea id="guestAddress" name="guestAddress" type="text" ng-model="guest.address" class="form-control" maxlength="255" required></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3"><strong>* Číslo OP:</strong><small> (max. 50 znaků)</small></div>
        <div class="col-xs-5">
            <input id="guestIdentityCardNumber" type="text" ng-model="guest.identityCardNumber" name="guestIdentityCardNumber" class="form-control" maxlength="50" required>
        </div>
    </div>

    <div class="row top15">
        <div class="col-xs-8">
            <button id="submitButton" class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-ok"></span> Uložit</button>
        </div>
    </div>
</form>