﻿<div class="row">
    <div class="row">
        <div class="col-xs-6">
            <h1>Hosté</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-success bottom10" ui-sref="app.static.createGuest"><span class="glyphicon glyphicon-plus"></span> Vytvořit hosta</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <table st-set-filter="stCustomFilter" st-table="displayedGuests" st-safe-src="guests" class="table table-striped table-hover row-border hover">
                <thead>
                    <tr>
                        <th colspan="7">
                            <div class="row">
                                <div class="col-xs-offset-9 col-xs-3"><input st-search="" class="form-control" placeholder="Hledat ..." type="text"></div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th st-sort="id">ID</th>
                        <th st-sort="fullName()">Jméno a příjmení</th>
                        <th st-sort="address">Adresa (prvních 50 znaků)</th>
                        <th st-sort="identityCardNumber">Číslo OP</th>
                        <th>Operace</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="dG in displayedGuests">
                        <td>{{ dG.id }}</td>
                        <td>{{ dG.fullName() }}</td>
                        <td>{{ dG.address | limitTo:50 }}</td>
                        <td>{{ dG.identityCardNumber }}</td>
                        <td>
                            <a ui-sref="app.static.editGuest({ guestId: dG.id })" title="Editovat" class="btn btn-sm btn-warning">
                                <span class="glyphicon glyphicon-pencil"></span> Editovat
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>