﻿<div class="row">
    <div class="col-xs-12">
        <h1>Pokoj</h1>
    </div>
</div>

<form name="roomForm" ng-submit="submitForm()" novalidate>
    <div class="row">
        <div class="col-xs-12">
            <div ng-messages="roomForm.$error" ng-show="roomForm.$submitted" class="validation-messages">
                <h5 ng-message="required">Nejsou vyplněna všechna povinná pole!</h5>
                <div ng-messages="roomForm.roomDoubleBedsCount.$error" ng-show="roomForm.$dirty || roomForm.$submitted" class="validation-messages">
                    <h5 ng-message="min">Počet dvoulůžek nesmí být záporné číslo!</h5>
                </div>
                <div ng-messages="roomForm.roomSingleBedsCount.$error" ng-show="roomForm.$dirty || roomForm.$submitted" class="validation-messages">
                    <h5 ng-message="min">Počet jednolůžek nesmí být záporné číslo!</h5>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" ng-model="room.id">
    <div class="row">
        <div class="col-xs-3"><strong>* Název:</strong><small> (max. 50 znaků)</small></div>
        <div class="col-xs-5">
            <input id="roomName" type="text" ng-model="room.name" name="roomName" class="form-control" maxlength="50" required>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3"><strong>Kuřácký:</strong></div>
        <div class="col-xs-5">
            <input id="roomSmokingAllowed" type="checkbox" ng-model="room.smokingAllowed" name="roomSmokingAllowed" class="form-control" ng-checked="room.smokingAllowed">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3"><strong>* Typ pokoje:</strong></div>
        <div class="col-xs-5">
            <select ng-model="room.roomTypeId"
                    ng-options="roomType.id as roomType.description for roomType in roomTypes"
                    class="form-control" id="roomRoomType" name="roomRoomType" required>
                <option value="" disabled selected>Vyberte ze seznamu...</option>
            </select>
        </div>
    </div>

    <div class="row top15">
        <div class="col-xs-8">
            <button id="submitButton" class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-ok"></span> Uložit</button>
        </div>
    </div>
</form>