﻿<div class="row">
    <div class="col-xs-6">
        <h1>Pokoje</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <a class="btn btn-success bottom10" ui-sref="app.static.createRoom"><span class="glyphicon glyphicon-plus"></span> Vytvořit pokoj</a>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <table st-set-filter="stCustomFilter" st-table="displayedRooms" st-safe-src="rooms" class="table table-striped table-hover row-border hover">
            <thead>
                <tr>
                    <th colspan="7">
                        <div class="row">
                            <div class="col-xs-offset-9 col-xs-3"><input st-search="" class="form-control" placeholder="Hledat ..." type="text"></div>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th st-sort="id">ID</th>
                    <th st-sort="name">Název</th>
                    <th st-sort="smokingAllowed">Kuřácký</th>
                    <th st-sort="roomType.description">Typ pokoje</th>
                    <th>Operace</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="dR in displayedRooms">
                    <td>{{ dR.id }}</td>
                    <td>{{ dR.name }}</td>
                    <td>
                        <div class="active-label label label-success" ng-show="dR.smokingAllowed"><span class="glyphicon glyphicon-ok"></span></div>
                        <div class="archived-label label label-danger" ng-show="!dR.smokingAllowed"><span class="glyphicon glyphicon-remove"></span></div>
                    </td>
                    <td>{{ dR.roomType.description }}</td>
                    <td>
                        <a ui-sref="app.static.editRoom({ roomId: dR.id })" title="Editovat" class="btn btn-sm btn-warning">
                            <span class="glyphicon glyphicon-pencil"></span> Editovat
                        </a>
                        <a ui-sref="app.static.roomDetail({ roomId: dR.id })" title="Podrobnosti" class="btn btn-sm btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span> Podrobnosti
                        </a>&nbsp;
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>