﻿<div class="row">
    <div class="row">
        <div class="col-xs-6">
            <h1>Ubytování</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-success bottom10" ui-sref="app.static.createAccommodation"><span class="glyphicon glyphicon-plus"></span> Ubytovat</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <table st-set-filter="stCustomFilter" st-table="displayedAccommodation" st-safe-src="accommodation" class="table table-striped table-hover row-border hover">
                <thead>
                    <tr>
                        <th colspan="7">
                            <div class="row">
                                <div class="col-xs-offset-9 col-xs-3"><input st-search="" class="form-control" placeholder="Hledat ..." type="text"></div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>ID</th>
                        <th st-sort="checkInDate">Odkdy</th>
                        <th st-sort="checkOutDate">Dokdy</th>
                        <th st-sort="guestInfo()">Jméno a číslo průkazu hosta</th>
                        <th st-sort="roomName()" st-sort-default="true">Název pokoje</th>
                        <th>Ukončené</th>
                        <th>Operace</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="singleAccommodation in displayedAccommodation">
                        <td>{{ singleAccommodation.id }}</td>
                        <td>{{ singleAccommodation.checkInDate | date: 'dd.MM.yyyy HH:mm' }}</td>
                        <td>{{ singleAccommodation.checkOutDate | date: 'dd.MM.yyyy HH:mm' }}</td>
                        <td>{{ singleAccommodation.guestInfo() }}</td>
                        <td>{{ singleAccommodation.roomName() }}</td>
                        <td>
                            <div class="active-label label label-success" ng-show="singleAccommodation.isClosed()"><span class="glyphicon glyphicon-ok"></span></div>
                            <div class="archived-label label label-danger" ng-show="singleAccommodation.isNotClosed()"><span class="glyphicon glyphicon-remove"></span></div>
                        </td>
                        <td>
                            <a ng-if="singleAccommodation.isNotClosed()" ui-sref="app.static.editAccommodation({ accommodationId: singleAccommodation.id })" title="Editovat" class="btn btn-sm btn-warning">
                                <span class="glyphicon glyphicon-pencil"></span> Editovat
                            </a>&nbsp;
                            <a ng-if="singleAccommodation.isNotHistoric()" ng-click="closeAccommodation(singleAccommodation)" title="Ukončit" class="btn btn-sm btn-danger">
                                <span class="fa fa-stop"></span> Ukončit
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>