﻿<div class="row">
    <div class="col-xs-12">
        <h1>Ubytování</h1>
    </div>
</div>

<div class="well">
    Ubytování lze založit na základě existující rezervace. <br>
    Pokud neexistuje rezervace začínající dnes, k níž si přejete ubytovat hosta, musíte ji nejprve <a ui-sref="app.static.createReservation">založit</a> nebo upravit existující.
</div>

<form name="accommodationForm" ng-submit="submitForm()" novalidate>
    <div class="row">
        <div class="col-xs-12">
            <div ng-messages="accommodationForm.$error" ng-show="accommodationForm.$submitted" class="validation-messages">
                <h5 ng-message="required">Nejsou vyplněna všechna povinná pole!</h5>
            </div>
        </div>
    </div>

    <input type="hidden" ng-model="accommodation.id">

    <div class="row">
        <div class="col-xs-3"><strong>* Rezervace:</strong></div>
        <div class="col-xs-5">
            <ui-select id="reservationSelect" ng-model="reservationToSelect" name="accommodationReservationId" theme="bootstrap" on-select="selectReservation(reservationToSelect)">
                <ui-select-match allow-clear="true" placeholder="Vyberte rezervaci..."></ui-select-match>
                <ui-select-choices repeat="reservation in reservations | filter: $select.search">
                    <div ng-bind-html="reservation.guestInfo() | highlight: $select.search"></div>
                    <small>
                        <ins>Pokoj:</ins> {{reservation.roomName()}}, 
                        <ins>Od:</ins> {{reservation.dateIn | date: 'dd.MM.yyyy'}}, 
                        <ins>Do:</ins> {{reservation.dateOut | date: 'dd.MM.yyyy'}}
                    </small>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3"><strong>* Odkdy:</strong></div>
        <div class="col-xs-5">
            <span class="form-control">{{accommodation.checkInDate | date: 'dd.MM.yyyy HH:mm'}}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-offset-3 col-xs-5">
            <uib-timepicker ng-model="accommodation.checkInDate" hour-step="1" minute-step="5" show-meridian="false"></uib-timepicker>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3"><strong>* Host:</strong></div>
        <div class="col-xs-5">
            <span class="form-control" ng-bind="accommodation.reservation.guestInfo()"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3"><strong>* Pokoj:</strong></div>
        <div class="col-xs-5">
            <span class="form-control" ng-bind="accommodation.reservation.roomName()"></span>
        </div>
    </div>

    <div class="row top15">
        <div class="col-xs-8">
            <button id="submitButton" class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-ok"></span> Uložit</button>
        </div>
    </div>
</form>