<div class="modal-header">
    <h3 class="modal-title">{{ heading }}</h3>
</div>

<div class="modal-body">
    <span>{{ message }}</span>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="ok()">Ok</button>
</div>