<div class="dropdown">
    <ul>
        <li uib-dropdown="">
            <a uib-dropdown-toggle="" class="btn btn-info btn-md dropdown-toggle">
                <span class="glyphicon glyphicon-filter"></span> {{dropdownLabel}}
            </a>
            <ul class="dropdown-menu">
                <li ng-repeat="item in distinctItems">
                    <label><input type="checkbox" ng-model="item.selected" ng-click="filterChanged()"> {{item.value}}</label>
                </li>
            </ul>
        </li>
    </ul>
</div>