﻿<div class="row">
    <div class="row">
        <div class="col-xs-6">
            <h1>Rezervace</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-success bottom10" ui-sref="app.static.createReservation"><span class="glyphicon glyphicon-plus"></span> Vytvořit rezervaci</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <table st-set-filter="stCustomFilter" st-table="displayedReservations" st-safe-src="reservations" class="table table-striped table-hover row-border hover">
                <thead>
                    <tr>
                        <th colspan="8">
                            <div class="row">
                                <div class="col-xs-offset-9 col-xs-3"><input st-search="" class="form-control" placeholder="Hledat ..." type="text"></div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>ID</th>
                        <th st-sort="dateIn">Odkdy</th>
                        <th st-sort="dateOut">Dokdy</th>
                        <th st-sort="guestInfo()">Jméno a číslo průkazu hosta</th>
                        <th st-sort="roomName()" st-sort-default="true">Název pokoje</th>
                        <th>Má ubytování</th>
                        <th st-sort="wayOfReservationName()">Způsob rezervace</th>
                        <th>Operace</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="dR in displayedReservations">
                        <td>{{ dR.id }}</td>
                        <td>{{ dR.dateIn | date: 'dd.MM.yyyy' }}</td>
                        <td>{{ dR.dateOut | date: 'dd.MM.yyyy' }}</td>
                        <td>{{ dR.guestInfo() }}</td>
                        <td>{{ dR.roomName() }}</td>
                        <td>
                            <div class="active-label label label-success" ng-show="dR.hasAccommodation"><span class="glyphicon glyphicon-ok"></span></div>
                            <div class="archived-label label label-danger" ng-show="!dR.hasAccommodation"><span class="glyphicon glyphicon-remove"></span></div>
                        </td>
                        <td>{{ dR.wayOfReservationName() }}</td>
                        <td>
                            <a ng-if="dR.isNotHistoric()"  ui-sref="app.static.editReservation({ reservationId: dR.id })" title="Editovat" class="btn btn-sm btn-warning">
                                <span class="glyphicon glyphicon-pencil"></span> Editovat
                            </a>&nbsp;
                            <a ng-if="!dR.hasAccommodation" ng-click="deleteReservation(dR)" title="Zrušit" class="btn btn-sm btn-danger">
                                <span class="glyphicon glyphicon-remove"></span> Zrušit
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>