﻿<div class="row">
    <div class="col-xs-12">
        <h1>Rezervace</h1>
    </div>
</div>

<form name="reservationForm" ng-submit="submitForm()" novalidate>
    <div class="row">
        <div class="col-xs-12">
            <div ng-messages="reservationForm.$error" ng-show="reservationForm.$submitted" class="validation-messages">
                <h5 ng-message="required">Nejsou vyplněna všechna povinná pole!</h5>
            </div>
        </div>
    </div>

    <input type="hidden" ng-model="reservation.id">
    <div class="row">
        <div class="col-xs-3"><strong>* Odkdy:</strong></div>
        <div class="col-xs-5" ng-hide="reservation.hasAccommodation">
            <date-picker ng-model="reservation.dateIn" input="reservationDateIn" ng-required="true" name="reservationDateIn"></date-picker>
        </div>
        <div class="col-xs-5" ng-show="reservation.hasAccommodation">
            <span class="form-control">{{reservation.dateIn | date: 'dd.MM.yyyy'}}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3"><strong>* Dokdy:</strong></div>
        <div class="col-xs-5">
            <date-picker ng-model="reservation.dateOut" input="reservationDateOut" ng-required="true" name="reservationDateOut"></date-picker>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3"><strong>* Host:</strong></div>
        <div class="col-xs-5">
            <select ng-model="reservation.guestId" name="academyGuest"
                    ng-options="guest.id as guest.fullName() for guest in guests"
                    class="form-control" id="academyGuest" required>
                <option value="" disabled selected>Vyberte ze seznamu...</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3"><strong>* Pokoj:</strong></div>
        <div class="col-xs-5">
            <select ng-model="reservation.roomId"
                    ng-options="room.id as room.name for room in rooms"
                    class="form-control" id="reservationRoom" name="reservationRoom" required>
                <option value="" disabled selected>Vyberte ze seznamu...</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3"><strong>* Způsob rezervace:</strong></div>
        <div class="col-xs-5">
            <select ng-model="reservation.wayOfReservationId"
                    ng-options="wayOfReservation.id as wayOfReservation.name for wayOfReservation in waysOfReservation"
                    class="form-control" id="reservationWayOfReservation" name="reservationWayOfReservation" required>
                <option value="" disabled selected>Vyberte ze seznamu...</option>
            </select>
        </div>
    </div>

    <div class="row top15">
        <div class="col-xs-8">
            <button id="submitButton" class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-ok"></span> Uložit</button>
        </div>
    </div>
</form>