<div class="row">
    <div class="row">
        <div class="col-xs-6">
            <h1>Uživatelé</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <a id="createUserBtn" class="btn btn-success bottom10" ui-sref="app.admin.addUser"><span class="glyphicon glyphicon-plus"></span> Vytvořit uživatele</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <table id="usersTable" st-set-filter="stCustomFilter" st-table="displayedUsers" st-safe-src="users" class="table table-striped table-hover row-border hover">
                <thead>
                <tr>
                    <th colspan="7">
                        <div class="row">
                            <div class="col-xs-offset-9 col-xs-3"><input st-search="" class="form-control" placeholder="Hledat ..." type="text"></div>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th colspan="3"></th>
                    <th><st-select-multiple-from-array collection="users" predicate="roles"></st-select-multiple-from-array></th>
                    <th></th>
                    <th><st-select-multiple collection="users" predicate="enabled"></st-select-multiple></th>
                    <th><st-select-multiple collection="users" predicate="verified"></st-select-multiple></th>
                </tr>
                <tr>
                    <th>Fotka</th>
                    <th st-sort="firstName">Jméno</th>
                    <th st-sort="lastName" st-sort-default="true">Příjmení</th>
                    <th st-sort="roles">Role</th>
                    <th st-sort="email">Email</th>
                    <th>Aktivní</th>
                    <th>Verifikován</th>
                    <th>Operace</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="usr in displayedUsers">
                    <td class="table-cell-center"><img ng-src="{{ usr.photoUrl }}" class="avatar-photo"></td>
                    <td>{{ usr.firstName }}</td>
                    <td>{{ usr.lastName }}</td>
                    <td>{{ usr.roles | joinArray }}</td>
                    <td>{{ usr.email }}</td>
                    <td>
                        <div class="active-label label label-success" ng-show="usr.enabled"><span class="glyphicon glyphicon-ok"></span></div>
                        <div class="archived-label label label-danger" ng-show="!usr.enabled"><span class="glyphicon glyphicon-remove"></span></div>
                    </td>
                    <td>
                        <div class="active-label label label-success" ng-show="usr.verified"><span class="glyphicon glyphicon-ok"></span></div>
                        <div class="archived-label label label-danger" ng-show="!usr.verified"><span class="glyphicon glyphicon-remove"></span></div>
                    </td>
                    <td>
                        <a ui-sref="app.admin.editUser({ userId: usr.id })" title="Editovat" class="btn btn-sm btn-warning">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>&nbsp;
                        <a title="Aktivovat" class="btn btn-sm btn-success" ng-click="enableUser(usr)" ng-disabled="usr.enabled">
                            <span class="glyphicon glyphicon-ok"></span>
                        </a>&nbsp;
                        <a title="Deaktivovat" class="btn btn-sm btn-danger" ng-click="disableUser(usr)" ng-disabled="!usr.enabled">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="7">
                        <div class="row">
                            <div class="col-xs-3"><strong>Počet záznamů na stránku:</strong></div>
                            <div class="col-xs-1"><select ng-model="itemsByPage" ng-options="recordsNumber as recordsNumber for recordsNumber in smartTableLengthMenu" class="form-control form-control-compact"></select></div>
                            <div class="col-xs-offset-5 col-xs-3"><div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7" class="pull-right"></div></div>
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>