<div class="row">
    <div class="col-xs-12">
        <h1>Uživatel</h1>
        <h3>{{ usr.fullName() }}</h3>
        <h5 ng-if="!isNew"><span class="archived-label label label-danger" ng-hide="usr.enabled">Archivován</span><span class="active-label label label-success" ng-show="usr.enabled">Aktivní</span></h5>
    </div>
</div>

<form name="userForm" ng-submit="submitForm()" novalidate>
    <div class="row">
        <div class="col-xs-12">
            <div ng-messages="userForm.$error" ng-show="userForm.$submitted" class="validation-messages">
                <h5 ng-message="required">Nejsou vyplněna všechna povinná pole!</h5>
            </div>
            <div ng-messages="userForm.usrEmail.$error" ng-show="userForm.usrEmail.$dirty || userForm.$submitted" class="validation-messages">
                <h5 ng-message="email">Špatný formát emailu!</h5>
            </div>
            <div ng-messages="userForm.rolesCount.$error" ng-show="userForm.rolesCount.$dirty || userForm.$submitted" class="validation-messages">
                <h5 ng-message="count">Uživatel musí mít alespoň 1 roli!</h5>
            </div>
        </div>
    </div>

    <input type="hidden" ng-model="usr.id">
    <div class="row">
        <div class="col-xs-3"><strong>Aktivní:</strong></div>
        <div class="col-xs-5">
            <input id="usrEnabled" type="checkbox" ng-model="usr.enabled" name="usrEnabled" class="form-control" ng-checked="usr.enabled">
        </div>
    </div>

    <input type="hidden" ng-model="usr.enabled">
    <div class="row">
        <div class="col-xs-3"><strong>* Jméno:</strong></div>
        <div class="col-xs-5">
            <input id="usrFirstName" type="text" ng-model="usr.firstName" name="usrFirstName" class="form-control" required>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3"><strong>* Příjmení:</strong></div>
        <div class="col-xs-5">
            <input id="usrLastName" type="text" ng-model="usr.lastName" name="usrLastName" class="form-control" required>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3"><strong>* Firma:</strong></div>
        <div class="col-xs-5">
            <select ng-model="usr.companyId"
                    ng-options="company.id as company.name for company in companies"
                    class="form-control" id="usrCompany" name="usrCompany" required
            >
                <option value="" disabled selected>Vyberte ze seznamu...</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3"><strong>* E-mail:</strong></div>
        <div class="col-xs-5">
            <input id="usrEmail" type="email" ng-model="usr.email" name="usrEmail" class="form-control" required>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3"><strong>Telefon:</strong></div>
        <div class="col-xs-5">
            <input id="usrTelephone" type="text" ng-model="usr.telephone" name="usrTelephone" class="form-control">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3"><strong>Adresa:</strong></div>
        <div class="col-xs-5">
            <textarea id="usrAddress" type="text" ng-model="usr.address" name="usrAddress" class="form-control"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3"><strong>Role:</strong></div>
        <div class="col-xs-5">
            <div ng-repeat="role in usr.roles">
                <span class="role-span form-control">
                    <a class="red" title="Odebrat roli" ng-click="removeRole(role)"><span class="glyphicon glyphicon-remove"></span></a>
                    {{ role }}
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <span name="rolesCount" ng-model="usr.roles.length" ng-hide="true"></span>
        <div class="col-xs-offset-3 col-xs-5">
            <a id="addRoleButton" class="btn btn-info" title="Přidat"
               ng-hide="showAddRoleSelect || userHasAllRoles()" ng-click="showAddRoleSelect = true">
                <span class="glyphicon glyphicon-plus"></span> Přidat roli
            </a>

            <select ng-show="showAddRoleSelect" ng-model="roleToAdd" ng-change="addRole(); showAddRoleSelect = false"
                    ng-options="role for role in roles | filter:isRoleNewForUserFilter(usr.roles)"
                    class="form-control" id="roleToAddSelect"
            >
                <option value="" disabled selected>Vyberte ze seznamu...</option>
            </select>
        </div>
    </div>

    <div class="row top15">
        <div class="col-xs-8">
            <button id="submitButton" class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-ok"></span> Uložit</button>
        </div>
    </div>
</form>