<div class="panel panel-primary">

    <div class="panel-heading">
        <h3 class="panel-title">Přihlaste se</h3>
    </div>
    <div class="panel-body">
        <form role="form" ng-submit="login()">

            <div class="form-group">
                <label for="username">Emailová adresa</label>
                <input id="username" name="username" ng-model="credentials.username" type="email" class="form-control"
                       placeholder="Enter email"/>
            </div>

            <div class="form-group">
                <label for="password">Heslo</label>
                <input type="password" id="password" ng-model="credentials.password" name="password"
                       class="form-control" placeholder="Password"/>
            </div>

            <button type="submit" class="btn btn-primary">Přihlásit</button>

        </form>
    </div>
</div>