﻿<div class="row">
    <div class="col-xs-6">
        <h2>Způsoby rezervace</h2>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <a class="btn btn-success bottom10" ui-sref="app.static.createWayOfReservation"><span class="glyphicon glyphicon-plus"></span> Vytvořit způsob rezervace</a>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <table id="wayOfReservationsTable" st-set-filter="stCustomFilter" st-table="displayedWaysOfReservation" st-safe-src="waysOfReservation" class="table table-striped table-hover row-border hover">
            <thead>
                <tr>
                    <th colspan="7">
                        <div class="row">
                            <div class="col-xs-offset-9 col-xs-3"><input st-search="" class="form-control" placeholder="Hledat ..." type="text"></div>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th st-sort="id">ID</th>
                    <th st-sort="name">Jméno</th>
                    <th>Operace</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="wOR in displayedWaysOfReservation">
                    <td>{{ wOR.id }}</td>
                    <td>{{ wOR.name }}</td>
                    <td>
                        <a ui-sref="app.static.editWayOfReservation({ wORId: wOR.id })" title="Editovat" class="btn btn-sm btn-warning">
                            <span class="glyphicon glyphicon-pencil"></span> Editovat
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>