﻿<div class="row">
    <div class="col-xs-12">
        <h1>Typ pokoje</h1>
    </div>
</div>

<form name="roomTypeForm" ng-submit="submitForm()" novalidate>
    <div class="row">
        <div class="col-xs-12">
            <div ng-messages="roomTypeForm.$error" ng-show="roomTypeForm.$submitted" class="validation-messages">
                <h5 ng-message="required">Nejsou vyplněna všechna povinná pole!</h5>
                <div ng-messages="roomTypeForm.roomTypeDoubleBedsCount.$error" ng-show="roomTypeForm.$dirty || roomTypeForm.$submitted" class="validation-messages">
                    <h5 ng-message="min">Počet dvoulůžek nesmí být záporné číslo!</h5>
                </div>
                <div ng-messages="roomTypeForm.roomTypeSingleBedsCount.$error" ng-show="roomTypeForm.$dirty || roomTypeForm.$submitted" class="validation-messages">
                    <h5 ng-message="min">Počet jednolůžek nesmí být záporné číslo!</h5>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" ng-model="roomType.id">
    <div class="row">
        <div class="col-xs-3"><strong>* Popis:</strong><small> (max. 100 znaků)</small></div>
        <div class="col-xs-5">
            <input id="roomTypeDescription" type="text" ng-model="roomType.description" name="roomTypeDescription" class="form-control" maxlength="100" required>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3"><strong>* Počet dvoulůžek:</strong></div>
        <div class="col-xs-5">
            <input id="roomTypeDoubleBedsCount" name="roomTypeDoubleBedsCount" type="number" min="0" ng-model="roomType.doubleBedsCount" class="form-control" required>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3"><strong>* Počet jednolůžek:</strong></div>
        <div class="col-xs-5">
            <input id="roomTypeSingleBedsCount" name="roomTypeSingleBedsCount" type="number" min="0" ng-model="roomType.singleBedsCount" class="form-control" required>
        </div>
    </div>

    <div class="row top15">
        <div class="col-xs-8">
            <button id="submitButton" class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-ok"></span> Uložit</button>
        </div>
    </div>
</form>