﻿<div class="row">
    <div class="col-xs-6">
        <h2>Typy pokojů</h2>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <a class="btn btn-success bottom10" ui-sref="app.static.createRoomType"><span class="glyphicon glyphicon-plus"></span> Vytvořit typ pokoje</a>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <table st-set-filter="stCustomFilter" st-table="displayedRoomTypes" st-safe-src="roomTypes" class="table table-striped table-hover row-border hover">
            <thead>
                <tr>
                    <th colspan="7">
                        <div class="row">
                            <div class="col-xs-offset-9 col-xs-3"><input st-search="" class="form-control" placeholder="Hledat ..." type="text"></div>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th st-sort="id">ID</th>
                    <th st-sort="description">Popis</th>
                    <th st-sort="doubleBedsCount">Počet dvoulůžek</th>
                    <th st-sort="singleBedsCount">Počet jednolůžek</th>
                    <th st-sort="maxCapacity()">Celková kapacita</th>
                    <th>Operace</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="dRT in displayedRoomTypes">
                    <td>{{ dRT.id }}</td>
                    <td>{{ dRT.description }}</td>
                    <td>{{ dRT.doubleBedsCount }}</td>
                    <td>{{ dRT.singleBedsCount }}</td>
                    <td>{{ dRT.maxCapacity() }}</td>
                    <td>
                        <a ui-sref="app.static.editRoomType({ roomTypeId: dRT.id })" title="Editovat" class="btn btn-sm btn-warning">
                            <span class="glyphicon glyphicon-pencil"></span> Editovat
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>