﻿<div class="row">
    <div class="row">
        <div class="col-xs-6">
            <h1>Číselníky</h1>
        </div>
    </div>
    <div ui-view="waysOfReservation"></div>
    <div ui-view="roomTypes"></div>
</div>