﻿<div class="row">
    <div class="col-xs-12">
        <h1>Způsob rezervace</h1>
    </div>
</div>

<form name="wayOfReservationForm" ng-submit="submitForm()" novalidate>
    <div class="row">
        <div class="col-xs-12">
            <div ng-messages="wayOfReservationForm.$error" ng-show="wayOfReservationForm.$submitted" class="validation-messages">
                <h5 ng-message="required">Nejsou vyplněna všechna povinná pole!</h5>
            </div>
        </div>
    </div>

    <input type="hidden" ng-model="wayOfReservation.id">
    <div class="row">
        <div class="col-xs-3"><strong>* Název:</strong><small> (max. 50 znaků)</small></div>
        <div class="col-xs-5">
            <input id="wayOfReservationName" type="text" ng-model="wayOfReservation.name" name="wayOfReservationName" class="form-control" maxlength="50" required>
        </div>
    </div>

    <div class="row top15">
        <div class="col-xs-8">
            <button id="submitButton" class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-ok"></span> Uložit</button>
        </div>
    </div>
</form>