@import url(fonts/Montserrat.css);

.content-wrapper {
    padding-top: 100px;
    padding-bottom: 320px;
}

nav .dropdown-menu {
    background-color: rgb(80,80,80);
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover {
    color: #ffffff;
    background-color: #fed136;
    border-radius: 3px;
}

.navbar-fixed-bottom > .container-fluid {
    padding: 20px 0 30px 0;
    width: 700px;
    color: #ffffff;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #575757;
}

.uib-datepicker-popup {
    z-index: 5000;
}

.nav, .pagination, .carousel, .panel-title, a { cursor: pointer; }

thead, div.alert {
    font-weight: bold;
}

.alert.ng-enter, .alert.ng-leave {
    -webkit-transition:all .4s linear;
    -moz-transition:all .4s linear;
    -o-transition:all .4s linear;
    transition:all .4s linear;
}

.alert.ng-enter {
    opacity: 0;
}
.alert.ng-enter-active {
    display: block !important;
    opacity: 1;
}

.alert.ng-leave {
    opacity: 1;
}
.alert.ng-leave-active {
    display: block !important;
    opacity: 0;
}

li.active a {
    color: green;
}

.red {
    color: red;
}

.default-pointer {
    cursor: default;
}

select.form-control {
    cursor: pointer;
}

td.table-cell-center {
    text-align: center;
}

.form-control {
    margin-bottom: 5px;
}

.form-control-compact {
    height: 27px;
    font-size: 12px;
    font-size: 12px;
}

.ng-invalid.ng-touched,
.ng-invalid-count.ng-touched ~ div > a,
.ng-invalid-size.ng-touched ~ div > input[type=file],
.ng-invalid-type.ng-touched ~ div > input[type=file] {
    border: 1px solid #b90000;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 98, 84, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 98, 84, 0.6);
}

.validation-messages {
    color: #b90000;
}

.image-thumbnail {
    max-width: 100px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    border-color: #ddd;
}

.avatar-photo {
    max-width: 60px;
}

table .avatar-photo {
    max-width: 40px;
}

.top5 { margin-top: 5px; }
.top10 { margin-top: 10px; }
.top15 { margin-top: 15px; }
.top20 { margin-top: 20px; }
.top30 { margin-top: 30px; }

.bottom5 { margin-bottom: 5px; }
.bottom10 { margin-bottom: 10px; }
.bottom15 { margin-bottom: 15px; }
.bottom20 { margin-bottom: 20px; }
.bottom30 { margin-bottom: 30px; }

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.st-sort-ascent:before{
    content: '\25B2\0020';
}

.st-sort-descent:before{
    content: '\25BC\0020';
}

[st-sort] {
    cursor: pointer;
}

table .dropdown-menu {
    padding: 15px;
}

.dropdown ul {
    list-style: none;
}