﻿
<h1>Hotel Excelsior</h1>

<div class="row">
    Toto je úvodní stránka aplikace hotelu Excelsior.
</div>
<div class="row">
    Prozkoumejte další části aplikace, kde je možné zakládat rezervace a v návaznosti na ně ubytovávat hosty.
</div>
<div class="row">
    Hosty, pokoje, typy pokojů a způsoby rezervace lze spravovat na samostatných formulářích.
</div>
<div class="row">
    Pro každý pokoj lze zobrazit, kdy je rezervován nebo zda je v něm právě někdo ubytován.
</div>